## Logistic Regression

In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("Datasets/Student-University.csv",header = None, names=["X","y"])
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 100 entries, 34.62365962 to 74.775893
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X       100 non-null    float64
 1   y       100 non-null    int64
dtypes: float64(1), int64(1)
memory usage: 2.3 KB

                   X  y
34.623660  78.024693  0
30.286711  43.894998  0
35.847409  72.902198  0
60.182599  86.308552  1
79.032736  75.344376  1

In [5]:
X = df["X"]
y = df["y"]