## PCA

In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from numpy.linalg import eig
from scipy.special import expit

In [2]:
df = pd.read_csv("Datasets/iris.csv", header = None, names = ["sepal_length","sepal_width","petal_length","petal_width","species"])
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [3]:
X = df.iloc[:,1]
y = df.iloc[:,2]

In [4]:
x_mean = 0;
y_mean = 0;
n = len(X)
for i in range(n):
    x_mean += X[i]
    y_mean += y[i]
x_mean = x_mean / n
y_mean = y_mean / n

In [5]:
cov_xy = 0;
cov_xx = 0;
cov_yy = 0;

for i in range(n):
    cov_xy += ( (X[i] - x_mean) * (y[i] - y_mean) )
    cov_xx += ( (X[i] - x_mean) * (X[i] - x_mean) )
    cov_yy += ( (y[i] - y_mean) * (y[i] - y_mean) )
cov_xy = cov_xy / ( n - 1 )
cov_xx = cov_xx / ( n - 1 )
cov_yy = cov_yy / ( n - 1 )

In [6]:
C = [ [cov_xx, cov_xy], [cov_xy, cov_yy] ]

In [7]:
values, vectors = eig(C)

In [8]:
max_val = values[0]
max_i = 0
for i in range(len(values)):
    if max_val < values[i]:
        max_i = i
        max_val = values[i]
eig_value = values[max_i]
eig_vector = vectors[:,max_i]
V = eig_vector

In [9]:
Y = []
for i in range(n):
    Y.append(( X[i] * V[0] ) + ( y[i] * V[1] ) )
red = pd.DataFrame(Y)
red

            0
0   -1.013645
1   -1.067668
2   -0.946645
3   -1.156278
4   -1.002841
..        ...
145 -4.845423
146 -4.700616
147 -4.845423
148 -5.001034
149 -4.746008

[150 rows x 1 columns]